@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Be Vietnam Pro", sans-serif;
    background-color: theme("colors.background");
    color: theme("colors.foreground");
  }
}
